body{
    font: 1.125em Tahoma,Arial,sans-serif;
} 
/* "em" est utlisé pour s'adapter à chaque navigateur à la place de "px, c'est une unité relative */
.container {
    width: 960px;
    margin: 0 auto;
}

/* .clearfix {
    clear: both;/* permet de supprimer les flottaisons à gauche et à droite sans indiquer left et right  
} Méthode ancienne*/

.clearfix::after {
    clear: both;
    content: '';/* Toujours mettre afin d'avoir l'élément même s'il n'y rien dedans*/
    overflow: auto;  /* Forcer l'arrêt du float -> "overflow" pour ce qu'il y a au dessus du flow*/
    zoom: 1;
    display: table;
    height: 0;
} /*Ici le clearflix est censé fonctionner pour tout les navigateurs, pas forcèment de logique derrière, dpd des navigateurs*/
/* Par exemple: "display" fonctionne avec google et "zoom" avec internet explorer */

.box{
    border: 0.125em solid #CCCCCC;
    margin-bottom: 20px;
    transition: box-shadow .4s ease;
    /* Voir Cubic-bezier.com pour paramètrer différentes animations */
    /* La transition se place dans la boîte initiale par défaut, d'origine et non dans l'état modifié. */
    position: relative;
    /* Pour positionner le parent par rapport à l'image enfant */
    /* font-size: 2em; */
    /* Ici relatif par rapport au parent ici body; utiliser plutôt rem pour éviter de cumuler les tailles */
    font-size: 1rem;
}

.box:hover{
    box-shadow: 1px 1px 5px #CCCCCC;
    /* Ombre portée en survolant la boîte avec box-shadow (box est ici le nom) */
}

.box-red{
    border-color: red;
}
/* .box-red est ici le parent et .box-title l'enfant compris dans .box-red */
/* Le fait de dire que c'est un enfant est dû à l'espace entre .box-red et .box-title */
.box-red .box-title {
    background-color: red;
    color:white;
}
.box-blue{
    border-color: blue;
}

.box-blue .box-title {
    background-color: blue;
    color: white;
}

.box-author {
    /* border: 2px solid red; */
    position: absolute;
    /* Pour positionner l'image insérée ici USer */
    top: -36px;
    right:25px;
    /* Pour fixer l'image par rapport à la page */
}

.box-author img {
    width: 70px;
}

.box-author-name {
    position: absolute;
    top: 14px;
    right: 20px;
    background: #222;
    /* background: rgba (255, 0, 0, 0.5) */
    color: #fff;
    padding: 2px;
    /* Pour ajouter nom "User" sous l'image "User" */
    z-index: 1;
    /* Pour augmenter l'importance de l'élément, le nom se remplace ainsi devant l'image alors que la div image est placée aprés le nom dans le HTML */
}

.box-title{
margin: 0;
border-bottom: inherit;
/* Il hérite ici des propriétés de son parent .box avec "inherit"*/
/* border-bottom-style: inherit;
border-bottom-width: inherit; 
border-bottom-color: inherit; */
padding: 8px;
font-size: 20px;
}

.box-img {
    float: left;
    /* On peut faire flotter l'image à côté du texte */
    width: 300px;
}

.box-content{
padding: 16px;
line-height: 22px; 
/* Jouer sur l'espace entre les lignes  */

/* Pour intégrer une image en arrière-plan du block */
/* background-image: url(https://www.geo.fr/var/geo/storage/images/media/images/fond-d-ecran-gratuit-mer-falaises-d-etretat-en-normandie/1704066-1-fre-FR/fond-d-ecran-gratuit-mer-falaises-d-etretat-en-normandie.jpg);
background-repeat: no-repeat;
background-size: cover; */
}

.top-page {
    position: fixed;
    bottom: 10px;
    right:10px;
}

.top-page img {
    width: 50px;
    opacity: .3;
}

.top-page img:hover {
    opacity: 1;
    transition: opacity .4s ease;
}